# Flask Server
PORT=8000
FLASK_ENV=development
FLASK_DEBUG=1

# API Config
API_VERSION=v1
# Comma-separated origins without quotes
CORS_ORIGIN=http://localhost:3001,http://172.16.1.46:3001

# Hospital Information
HOSPITAL_NAME=BỆNH VIỆN ĐA KHOA TRUNG ƯƠNG
HOSPITAL_DEPARTMENT=Trung tâm Tim mạch & Thần kinh
HOSPITAL_PHONE=1900-xxxx
HOSPITAL_EMAIL=to@hospital.vn
